// Place all the styles related to the jack_app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//SCSS FOR LOG-IN PAGE

h1
{
	font: arial;
}

#login_field
{
	float: left;
}

#logbutton
{
	float: left;
	margin-right: 90%;
}