<h1>Course Manager</h1>

<% if @user %>
	<div id='landing_image'>
	<%= image_tag 'landing_rise.png' %>
	</div>
	
	<div id=landing_text>
		Welcome to the educational course manager, select the "COURSES" link to begin.
	</div>

	<footer>
	<h2>Jack Williams | Cloud Computing 2017 | Copyright</h2>
	</footer>
<% end %>